/* add your CSS here */

h1,
h2,
h3,
h4,
body {
    font-family: "Open Sans", sans-serif;
    color: #212121;
}

span {
    font-weight: bold;
}

a {
    text-decoration: none;
    color: #fff;
    font-style: italic;
}

blockquote {
    box-shadow: 0 0 6px rgba(138, 92, 28, 0.8);
    border-left: 8px solid #FF5722;
    font-style: italic;
    color: #fff;
    padding: 10px 6px 10px 10px;
}

blockquote:before {
    display: block;
    height: 0;
    content: "“";
    margin-left: -50px;
    font: italic 400%/1 Cochin, Georgia, "Times New Roman", serif;
    color: #fff;
}

cite {
    font-style: normal;
}

.main-wrapper {
    width: 300px;
    background: chocolate;
    padding: 10px;
    border: 1px solid #934915;
}

.header {
    width: 100%;
}

.description-wrapper {
    /* padding: 0 10px; */
    word-wrap: break-word;
}

.animal-info {
    margin: 10px 0px;
    width: 300px;
    background-color: rgba(214, 138, 84, 0.26);
    border: 1px solid #ccc;
    box-sizing: border-box;
    padding: 5px 10px;
}

.image {
    height: 300px;
    width: 300px;
}

#interesting-fact,
.quote {
    font-style: italic;
    color: #fff;
}

.animal-list {
    list-style-type: none;
    padding: 0px;
}

.border-shadow {
    box-shadow: 5px 5px 10px #ccc;
}