/* add your CSS here */
h1,h2,h3,h4, body{
    font-family: "Open Sans", sans-serif; 
}
span {
    font-weight: bold;
}
a {
    text-decoration: none;
    color:#5D4037;
}
blockquote {
    box-shadow: 0 0 6px rgba(138,92,28,0.8);
    border-left: 8px solid #FF5722;
    font-style: italic;
    color: #D7CCC8;
    padding: 10px 6px 10px 10px;
}
blockquote:before {
    display: block;
    height: 0;
    content: "“";
    margin-left: -50px;
    font: italic 400%/1 Cochin,Georgia,"Times New Roman",         serif;
    color: #999;

}
cite {
    color: #212121;
}
.main-wrapper{
    width:305px;  
}
.header{
    width:100%;
}
.description-wrapper {
    border: 1px solid #ccc;
    padding: 0 10px;
    word-wrap: break-word;
    background:chocolate;
}
.content-container {
    width:280px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.image {
    height: 300px;
    width: 300px;    
}

.animal-description {
    font-style: italic;
    color: #D7CCC8;
}

.animal-list {
    list-style-type: none;
    padding: 0px;
}

.border-shadow {
    box-shadow: 5px 5px 10px #ccc;
}
